# Virtual Environment
env/
venv/
ENV/

# ChromaDB & Local Data
chroma_db/
*.parquet
*.sqlite3

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS / IDE Artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db

kaynaklar/
*.txt